In [ ]:
class student:
  name = "Rahul"
  Age  = 15
  suject = "Maths"

s1 = student()
print(s1.name)
print(s1.Age)
print(s1.suject)
print("-----------------")
s2 = student()
print(s2.name)
print(s2.Age)
print(s2.suject)

Rahul
15
Maths
-----------------
Rahul
15
Maths

In [ ]:
class car:
  color = "Blue"
  brand = "Maruti"

car1 = car()
print(car1.color)
print(car1.brand)
car2 = car()
print(car1.color)
print(car1.brand)
car4 = car()
print(car1.color)
print(car1.brand)
car3 = car()
print(car1.color)
print(car1.brand)

Blue
Maruti
Blue
Maruti
Blue
Maruti
Blue
Maruti

In [ ]:
class student:
  def __init__(self):
    print(self)
    print("add new student in class: ")

In [ ]:
s1 = student()
print(s1)

<__main__.student object at 0x7b9145c2c9b0>
add new student in class:
<__main__.student object at 0x7b9145c2c9b0>

In [ ]:
class student:
  def __init__(self,Full_Name,mrks,subject):
    self.name = Full_Name
    self.mrks = mrks
    self.subject = subject
    print("add new student in class: ")

s1 = student("rahul",89,"Maths")
print(s1.name,s1.mrks,s1.subject)

s2 = student("Rohit",90,"hindi")
print(s2.name,s2.mrks,s2.subject)
s3 = student("Raj",98,"Science")
print(s3.name,s3.mrks,s3.subject)

add new student in class:
rahul 89 Maths
add new student in class:
Rohit 90 hindi
add new student in class:
Raj 98 Science

In [ ]:
#

class student:
  def __init__(self,Full_Name,marks):
    self.name = Full_Name
    self.mrks = marks
    print("add new student in class: ")

  def get_avg(self):
    avg_ = (self.mrks[0] + self.mrks[1] + self.mrks[2])/3
    print(f"total marks is {round(avg_,0)} %")

s1 = student("Rahul",[78,90,89])
print(s1.name)
print(s1.mrks)
s1.get_avg()

add new student in class:
Rahul
[78, 90, 89]
total marks is 86.0 %

In [ ]:
class student:
  def __init__(self,name,marks):
    self.name = name
    self.mrks = marks
    print("add new student in class: ")

  def get_avg(self):
    sum = 0
    for i in self.mrks:
      sum = sum + i
    print(f"welcome to {self.name} and average marks is {round(sum/3,2)} % in board exam")

s2 = student("Raj",[90,89,96])
print(s2.name)
print(s2.mrks)
print(s2.get_avg())

add new student in class:
Raj
[90, 89, 96]
welcome to Raj and average marks is 91.67 % in board exam
None

In [ ]:
class car:
  def __init__(self):
    self.acc = False
    self.brk = False
    self.cluch = False
    print("car is not ready to go")

  def start(self):
    self.acc == True
    self.brk == True
    self.cluch == True
    print("car is ready to go")

car1 = car()
car1.start()

car is not ready to go
car is ready to go

In [ ]:
# create Account class with 2 attribute :--  blance and account_no
# create method for debit,credit and printing blance

class account:
    def __init__(self, balance, acc_no):
        self.balance = balance
        self.acc_no = acc_no
        print("welcome to bank")

    def debit(self, amount):
        self.balance -= amount
        print("debit:", amount)
        print(f'my final total balnce is {self.get_balance()}')


    def credit(self, amount):
        self.balance += amount
        print("Credited:", amount)
        print(f'my final total balnce is {self.get_balance()}')


    def get_balance(self):
      return self.balance

account1 = account(200000,89999)
account1.debit(5000)
account1.credit(50000)

welcome to bank
debit: 5000
my final total balnce is 195000
Credited: 50000
my final total balnce is 245000

In [ ]:
# create Account class with 2 attribute :--  blance and account_no
# create method for debit,credit and printing blance

class account:
    def __init__(self, balance, acc_no):
        self.balance = balance
        self.acc_no = acc_no
        print("welcome to bank")

    def debit(self, amount):
        self.balance -= amount
        print("debit:", amount)
        print(f'my final total balnce is {self.get_balance()}')


    def credit(self, amount):
        self.balance += amount
        print("Credited:", amount)
        print(f'my final total balnce is {self.get_balance()}')


    def get_balance(self):
      return self.balance

acc_no = int(input("enter your account no: "))
balance = int(input("enter your account no: "))
amount = int(input("enter your account no: "))


account1 = account(balance,acc_no)
account1.debit(amount)
account1.credit(amount)

print("Final Balance:", account1.balance)

enter your account no: 67777
enter your account no: 9888
enter your account no: 7666
welcome to bank
debit: 7666
my final total balnce is 2222
Credited: 7666
my final total balnce is 9888
Final Balance: 9888

# create Account class with 2 attribute :--  account_holder_name,blance and account_no
# create method for debit,credit and printing blance

In [ ]:
class account:
  def __init__(self,name,balance,acc_no):
    self.name = name
    self.balance = balance
    self.acc_no = acc_no
    print("welcome to bank")


account1 = account("Rahul",200000,89999)
print(account1.name)
print(account1.balance)
print(account1.acc_no)

welcome to bank
Rahul
200000
89999

In [ ]:
class account:
  def __init__(self,name,balance,acc_no):
    self.name = name
    self.balance = balance
    self.acc_no = acc_no
    print("welcome to bank")

name = input("enter your name: ")
acc_no = int(input("enter your account no: "))
balance = int(input("enter your balance: "))

account1 = account(name,acc_no,balance)
print(account1.name)
print(account1.balance)
print(account1.acc_no)

enter your name: Rajesh
enter your account no: 8777777
enter your balance: 56666
welcome to bank
Rajesh
8777777
56666

In [ ]:
class account:
  def __init__(self,name,balance,acc_no):
    self.name = name
    self.balance = balance
    self.acc_no = acc_no
    print("welcome to bank")

  def debit(self,amount):
      self.balance -= amount
      print("Rs", amount)
      print(f'my final total balnce is {self.get_balance()}')


  def credit(self,amount):
      self.balance += amount
      print("Rs", amount)
      print(f'my final total balnce is {self.get_balance()}')


  def get_balance(self):
      return self.balance


account1 = account("Rahul",200000,89999)
print(account1.name)
print(account1.balance)
print(account1.acc_no)
account1.debit(5000)
account1.credit(8000)

print("total balance", account1.get_balance())

welcome to bank
Rahul
200000
89999
Rs 5000
my final total balnce is 195000
Rs 8000
my final total balnce is 203000
total balance 203000

In [ ]:
class account:
  def __init__(self,name,balance,acc_no):
    self.name = name
    self.balance = balance
    self.acc_no = acc_no
    print("welcome to bank")

  def debit(self,debit_amount):
      self.balance -= debit_amount
      print("Rs", debit_amount)
      print(f'my final total balnce is {self.get_balance()}')


  def credit(self,credit_amount):
      self.balance += credit_amount
      print("Rs", credit_amount)
      print(f'my final total balnce is {self.get_balance()}')


  def get_balance(self):
      return self.balance

name = input("enter your name: ")
acc_no = int(input("enter your account no: "))
balance = int(input("enter your balance: "))
debit_amount = int(input("enter your debit amount: "))
credit_amount = int(input("enter your credit amount: "))


account2 = account(name,balance,acc_no)
print(account2.name)
print(account2.balance)
print(account2.acc_no)
account2.debit(debit_amount)
account2.credit(credit_amount)

print("total balance", account2.get_balance())

enter your name: raju
enter your account no: 56666
enter your balance: 100000
enter your debit amount: 6000
enter your credit amount: 5000
welcome to bank
raju
100000
56666
Rs 6000
my final total balnce is 94000
Rs 5000
my final total balnce is 99000
total balance 99000